<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>org.myeducation.portal.server.TaskUploadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>uploadServlet2</servlet-name>
        <servlet-class>org.myeducation.portal.server.LectureUploadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>downloadServlet</servlet-name>
        <servlet-class>org.myeducation.portal.server.LectureDownloadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.myeducation.portal.MainPage CourseHelper</servlet-name>
        <servlet-class>org.myeducation.portal.server.CourseHelperImpl</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/Main/upload</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>uploadServlet2</servlet-name>
        <url-pattern>/Main/upload2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/Main/download</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>org.myeducation.portal.MainPage CourseHelper</servlet-name>
        <url-pattern>/Main/CourseHelper</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>Main.html</welcome-file>
    </welcome-file-list>
</web-app>
